<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="dist/app.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>AVADA FOOD</title>
</head>
<body>

    <!-- inizio applicazione -->
    <div id="app">

        <div class="fixed-buttons">

            <div class="demos">
                <img src="img/demos.png" alt="">
            </div>

            <div class="buy-now">
                <img src="img/buy-now.png" alt="">
            </div>

        </div>

        <!-- header -->
        <header class="header">

            <!-- upper nav -->
            <div class="upper-nav">

                <div class="part-left">
                    <span><a href="#">Download App</a></span>
                    <div class="iOS-button"><span>iOS</span></div>
                    <span><a href="#">Advertise with us</a></span>
                </div>

                <div class="part-right">
                    <span v-for="el in socialIcons">
                        <a :href="el.link"><i :class="el.class"></i></a>
                    </span>
                </div>

            </div>
            <!-- end upper nav -->

            <!-- lower-nav -->
            <div class="down-nav">

                <div class="nav-logo">
                    <a href="#"><img src="img/avada-food-logo-2x.png"></a>
                </div>

                <div class="nav-list">

                    <ul class="nav-list-items">
                        <li v-for="item in navbarListItems"><a :href="item.url">{{item.name}}</a></li>
                        <li><i class="fas fa-search"></i></li>
                    </ul>

                </div>

            </div>
            <!-- end lower-nav -->

        </header>
        <!-- end header -->

        <!-- jumbotron -->
        <div class="jumbotron">

            <div class="central-content">
                <h1>Food Corner: Top Japanese Reastaurants for Sushi</h1>
                <span>March 25, 2019</span>

                <div class="todays-pick">
                    <span>today's pick</span>
                </div>

            </div>

        </div>
        <!-- end jumbotron -->

        <!-- main content -->
        <main class="main-content">

            <!-- foodie journal section -->
            <section class="foodie-journal">

                <h2>foodie journal</h2>

                <div class="photo-container">

                    <div class="photo-caption" v-for="(el, index) in foodieJournalPhotoContainer">

                        <div class="foodie-journal-img hover hide photo-caption-hidden-div"
                                @mouseleave="hideHoverCommonClass('photo-caption-hidden-div', index)"
                        >
                            <div><i class="fas fa-link"></i></div>
                            <span class="hover-span">{{el.title}}</span>
                        </div>
                        
                        <img :src="el.url" @mouseenter="viewHoverCommonClass('photo-caption-hidden-div', index)">

                        <h3>{{el.title}}</h3>

                        <span class="photo-caption-span">By <a href="#">admin</a> March 25th, 2019</span>

                    </div>

                </div>

            </section>
            <!-- end foodie journal section -->

            <!-- popular recipes section -->
            <section class="popular-recipes-section">

                <!-- popular recipes -->
                <div class="popular-recipes">
                    <h3>popular recipes</h3>
                    <p>
                        Aliquam erat volutpat. Ut quis ligula a magna blandit finibus.
                        Suspendisse maximus lacus non nunc lacinia lobortis.
                    </p>
                </div>
                <!-- end popular recipes -->

                <!-- popular recipes imgs section -->
                <div class="popular-recipes-imgs">

                    <div class="content-left">

                        <img src="img/Yogurt-Nan.jpg" @mouseenter="viewHoverId('popular-recipes-hidden-div')">

                        <div class="popular-info">
                            <h4>Lunch Favourite with Salad, Naan And Beans</h4>
                            <span class="popular-info-span">
                                <a href="#">Bakery</a>,
                                <a href="#">Featured</a>,
                                <a href="#">Healthy</a>,
                                <a href="#">Latest Recipes</a>,
                                <a href="#">Staff Picks</a>
                            </span>
                            <p>Suspendisse at semper odio. Nam fringilla scelerisque tincidunt.
                                Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                Donec tincidunt posuere ornare. Phasellus placerat odio non feugiat sollicitudin.
                                Integer vitae elementum ex. Sed porttitor, diam eget convallis volutpat, arcu tellus
                                facilisis nulla, id dignissim orci leo id
                            </p>
                            <div class="learn-more-button">learn more</div>

                            <div class="hover hide" id="popular-recipes-hidden-div" @mouseleave="hideHoverId('popular-recipes-hidden-div')">
                                <div><i class="fas fa-link"></i></div>
                                <span class="hover-span">Lunch Favourite with Salad, Naan And Beans</span>
                            </div>

                        </div>

                    </div>

                    <div class="content-right">

                        <div class="imgs" v-for="(el, index) in popularRecipesImgsRight"
                            @mouseenter="viewHoverCommonClass('content-right-hidden-div', index)"
                        >
                            <img :src="el.url">

                            <div class="hover content-right-hidden-div hide"
                                @mouseleave="hideHoverCommonClass('content-right-hidden-div', index)"
                            >
                                <div><i class="fas fa-link"></i></div>
                                <span class="hover-span">{{el.description}}</span>
                            </div>

                        </div>

                    </div>

                </div>

            </section>
            <!-- popular recipes section -->

            <!-- CULINARY COLLECTION SECTION -->
            <section class="culinary-collection-section">

                <!-- CULINARY COLLECTION -->
                <div class="popular-recipes culinary-collection">
                    <h3>CULINARY COLLECTION</h3>
                    <p>
                        Aliquam erat volutpat. Ut quis ligula a magna blandit finibus.
                        Suspendisse maximus lacus non nunc lacinia lobortis.
                    </p>
                </div>
                <!-- END CULINARY COLLECTION -->

                <!-- CULINARY COLLECTION IMGS SECTION -->
                <div class="culinary-collection-imgs">

                    <div class="imgs" v-for="el in culinarySectionImgs">
                        <img :src="el.url">
                        <div>{{el.description}}</div>
                    </div>

                </div>

            </section>
            <!-- END CULINARY COLLECTION SECTION -->

            <!-- farm to table section -->
            <section class="farm-to-table-section">

                <div class="top-part">

                    <div class="description">
                        <h4>farm to table</h4>
                        <p>
                            Aliquam erat volutpat. Ut quis ligula a magna blandit finibus.
                            Suspendisse maximus lacus non nunc lacinia lobortis.
                        </p>
                    </div>

                    <div class="top-button">
                        <div class="read-our-blog-button">
                            read our blog <span><i class="fas fa-book-reader"></i></span>
                        </div>
                    </div>

                </div>

            </section>
            <!-- farm to table section -->

            <!-- farm-to-table-section-imgs -->
            <div class="farm-to-table-imgs">

                <!-- farm to table left content -->
                <div class="farm-content-left">

                    <!-- farm to table main img -->
                    <div class="main-img">

                        <img src="img/single-post-img3.jpg" @mouseenter="viewHoverId('farm-to-table-hidden-div')">

                        <div class="hover hide" id="farm-to-table-hidden-div" @mouseleave="hideHoverId('farm-to-table-hidden-div')">
                            <div><i class="fas fa-link"></i></div>
                            <span class="hover-span">Food Corner: Top Japanese Restaurants for Sushi</span>
                        </div>

                        <div class="main-img-info">

                            <h3>Food Corner: Top Japanese Restaurants for Sushi</h3>

                            <span>By <a href="#">admin</a> | March 25th, 2019</span>

                            <p>
                                Suspendisse at semper odio. Nam fringilla scelerisque tincidunt.
                                Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                Donec tincidunt posuere ornare. Phasellus placerat odio non feugiat sollicitudin.
                                Integer vitae elementum ex.
                            </p>

                            <div class="read-more-chat">

                                <div class="read-more">
                                    Read More <i class="fas fa-chevron-right"></i>
                                </div>
        
                                <div class="comments">
                                    <i class="fas fa-comments"></i> 0
                                </div>

                            </div>

                        </div>

                    </div>
                    <!-- end farm to table main img -->

                    <!-- farm to table miniatures -->
                    <div class="miniatures">

                        <div class="miniatures-boxes" v-for="(el, index) in miniaturesContainer">

                            <img :src="el.url" @mouseenter="viewHoverCommonClass('miniatures-hidden-div', index)">

                            <div class="miniatures-info">
                                <h3>{{el.description}}</h3>
                                <span>By <a href="#">admin</a> | March 25th, 2019</span>
                            </div>

                            <div class="hover hide miniatures-hidden-div"
                                @mouseleave="hideHoverCommonClass('miniatures-hidden-div', index)"
                            >
                                <div><i class="fas fa-link"></i></div>
                                <span class="hover-span">{{el.description}}</span>
                            </div>

                        </div>

                    </div>
                    <!-- end farm to table miniatures -->

                    <!-- farm to table load more posts -->
                    <div class="load-more-posts">
                        load more posts
                    </div>
                    <!-- end farm to table load more posts -->

                    <div class="miniatures-boxes hide" v-for="(el, index) in miniaturesContainer">

                        <img :src="el.url" @mouseenter="viewHoverCommonClass('hidden-miniatures-hidden-div', index)">

                        <div class="miniatures-info">
                            <h3>{{el.description}}</h3>
                            <span>By <a href="#">admin</a> | March 25th, 2019</span>
                        </div>

                        <div class="hover hide hidden-miniatures-hidden-div"
                            @mouseleave="hideHoverCommonClass('hidden-miniatures-hidden-div', index)"
                        >
                            <div><i class="fas fa-link"></i></div>
                            <span class="hover-span">{{el.description}}</span>
                        </div>

                    </div>

                </div>
                <!-- end farm to table left content -->

                <!-- farm to table right content -->
                <div class="form-content-right">

                    <div class="view-our-latest-recipes">
                        <div class="background-text">
                            <h3>view our latest recipes</h3>
                        </div>
                    </div>

                    <!-- city guide section -->
                    <div class="city-guide">

                        <div class="city-guide-button">
                            <i class="fas fa-globe-americas"></i>view all city guides
                        </div>

                        <div class="city-guide-title">City Guide: Singapore</div>
                    </div>
                    <!-- end city guide section -->

                    <!-- search input -->
                    <div class="search-input-farm-to-table">

                        <i class="fas fa-search"></i>
                        <input type="text" placeholder="Search...">

                    </div>
                    <!-- end search input -->

                    <!-- follow us section -->
                    <div class="follow-us">

                        <span class="follow-us-text">Follow Us</span>
                        
                        <!-- icons container -->
                        <div class="follow-us-icons-container">

                            <div class="single-icon-container" v-for="elem in socialIcons">
                                <span>
                                    <a :href="elem.link"><i :class="elem.class"></i></a>
                                </span>
                            </div>

                        </div>
                        <!-- end icons container -->

                    </div>
                    <!-- end follow us section -->

                    <!-- popular recent section -->
                    <div class="popular-recent-section">

                        <div class="popular-recent">

                            <div class="popular">
                                Popular
                            </div>

                            <div class="recent">
                                Recent
                            </div>

                        </div>

                        <div class="popular-links">

                            <div class="food-corner">

                                <img src="img/single-post-img3-66x66.jpg" alt="">

                                <div>
                                    <h5 class="popular-links-title">Food Corner: Top Japanese Restaurants for Sushi</h5>
                                    <span class="popular-links-date">March 25th, 2019</span>
                                </div>

                            </div>

                            <div class="city-guide-singapore">

                                <img src="img/singapore-featured-image-66x66.jpg" alt="">

                                <div>
                                    <h5 class="popular-links-title">City Guide: Singapore</h5>
                                    <span class="popular-links-date">March 25th, 2019</span>
                                </div>

                            </div>

                            <div class="nutritional-tips">

                                <img src="img/slide1-bg-66x66.jpg" alt="">

                                <div>
                                    <h5 class="popular-links-title">6 Nutritional Tips to Help Burn Body Fat</h5>
                                    <span class="popular-links-date">March 25th, 2019</span>
                                </div>

                            </div>

                        </div>

                    </div>
                    <!-- end popular recent section -->

                    <!-- tweets section -->
                    <div class="tweets-section">

                        <div class="tweets-section-title">

                            <span class="tweets-title">Tweets <span>by <a href="#">@Theme_Fusion</a></span></span>

                            <i class="fas fa-info-circle"></i>

                        </div>

                        <div class="tweets-section-info-container">

                            <img src="img/3a74ce3d0532b7773b174c45ca3bd05a_bigger.png">

                            <div class="tweets-info-container">

                                <div class="tweets-section-username">

                                    <div class="username-mention">
                                        <span>ThemeFusion</span>
                                        <span>@Theme_Fusion</span>
                                    </div>

                                    <i class="fab fa-twitter"></i>

                                </div>

                                <p>
                                    Why do we recommend <a href="#">@HubSpot</a> for the <a href="#">#avada #WebsiteBuilder</a>?
                                    It's an excellent CRM with FREE tools & integrations that
                                    will help you grow better. Empowering you to increase leads,
                                    accelerate sales, streamline customer service, & build
                                    a successful business <a href="#">bit.ly/3pz1zow</a>
                                </p>

                                <img src="img/hubspot.png" class="hubspot-icon">

                                <div class="tweets-section-lower-content">

                                    <div class="lower-content-icons">
                                        <i class="far fa-heart"></i>
                                        <i class="fas fa-sign-out-alt"></i>
                                    </div>

                                    <span>7h</span>
                                </div>

                            </div>

                        </div>

                    </div>
                    <!-- end tweets section -->

                </div>
                <!-- end farm to table right content -->

            </div>
            <!-- farm-to-table-section-imgs -->
        
        </main>
        <!-- end main content -->

        <!-- footer -->
        <div class="footer">

            <!-- subscribe section -->
            <div class="subscribe-section">

                <h4 class="subscribe-title">
                    Subscribe <span class="orange-commercial-e">&</span> Receive A Free eBook
                </h4>

                <p class="subscribe-caption">
                    Aliquam erat volutpat. Ut quis ligula a magna blandit finibus.
                    Suspendisse maximus lacus non nunc lacinia lobortis.
                </p>

                <div class="subscribe-form">
                    <input class="insert-email-input"
                        type="text"
                        placeholder="Insert your email ...*"
                        v-model="userEmailInput"
                        @keyup.enter=""
                    >
                    <div class="subscribe-button" @click="">subscribe</div>
                </div>

                <p class="insert-email-caption">Cras porttitor pellentesque sem eu pretium.</p>

            </div>
            <!-- end subscribe section -->

            <!-- footer imgs -->
            <div class="footer-imgs">

                <div class="footer-imgs-container" v-for="(el, index) in footerImgs"
                    @mouseenter="viewHoverCommonClass('footer-imgs-hidden-div', index)"
                >

                    <div class="hover hide footer-imgs-hidden-div"
                        @mouseleave="hideHoverCommonClass('footer-imgs-hidden-div', index)"
                    >
                        <div><i class="fas fa-link"></i></div>
                        <span class="hover-span">{{el.description}}</span>
                    </div>

                </div>

            </div>
            <!-- end footer imgs -->

            <!-- footer navbar -->
            <div class="footer-nav">

                <div class="footer-nav-content">

                    <div class="avada-food-socials-footer">

                        <img src="img/avada-food-logo-mob-2x.png" alt="">

                        <div class="footer-social-icons">

                            <span v-for="el in socialIcons">
                                <a :href="el.link"><i :class="el.class"></i></a>
                            </span>

                        </div>

                    </div>

                    <div class="footer-links">

                        <span v-for="el in footerNavList">{{el}}</span>

                    </div>

                    <div class="footer-contact">

                        <h5>c o n t a c t</h5>

                        <div class="footer-contact-info">
                            <div><i class="fas fa-map-marker-alt"></i></div>

                            <div>
                                <span>775 New York Ave, Brroklyn, Kings, New York 11203</span>
                            </div>

                        </div>

                        <div class="footer-contact-info">
                            <div><i class="fas fa-phone"></i></div>
                            <div><span>+ 0100-505-0000</span></div>
                        </div>

                        <div class="footer-contact-info">
                            <div><i class="fas fa-envelope"></i></div>
                            <div><span>info@your-domain.com</span></div>
                        </div>

                    </div>

                    <div class="footer-get-our-app">

                        <h5>get our app!</h5>
                        <img src="img/download-android.png" alt="">
                        <img src="img/download-app-store.png" alt="">

                    </div>

                </div>

            </div>
            <!-- end footer navbar -->

            <!-- footer copyright -->
            <div class="footer-copyright">
                <span>
                    <i class="far fa-copyright"></i> Copyright 2012 - 2021 | Avada Theme by <a href="#">ThemeFusion</a> | Powered by WordPress
                </span>
            </div>
            <!-- end footer copyright -->

        </div>
        <!-- footer -->

    </div>
    <!-- end inizio applicazione -->

    <script src="js/script.js"></script>

</body>
</html>