*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #f6f7f1;
    font-family:  'Inter', sans-serif;
    height: 3234px;
}
a{
    text-decoration: none
}
.hide{
    display: none
}
.fixed-buttons{
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 9px #afafaf;
    position: fixed;
    top: 150px;
    right: 15px;
    
    & .demos,
    & .buy-now{
        height: 70px;
        width: 70px;
        // border: 1px solid #000;
        border-radius: 6px;
        background: #fff
    }
}
.header{
    // border: 1px solid #000;
    background: #fff;
    height: 260px;

    & .upper-nav{
        display: flex;
        justify-content: space-between;
        margin: 0 auto 15px auto;
        padding-top: 15px;
        width: 1200px;

    
        & .part-left{
            display: flex;
            align-items: center;
            margin: 0 auto;
            width: 1200px;
    
            & .iOS-button{
                height:14px;
                width: 25px;
                background: #fc7525;
                border-radius: 3px;
                margin: 0 18px 0 8px;
                display: flex;
                align-items: center;
                justify-content: center;

    
                & span{
                    font-size: 10px;
                    color: #fff;

                }
                &:hover{
                    cursor: pointer
                }
            }
            & span{
                font-size: 11px;
                color: #afafaf;

                & a{
                    color: #afafaf
                }
            }
        }
        & .part-right{
            display: flex;

            & a{
                margin-left: 20px;
                color: #afafaf;

                &:hover{
                    color: #ccc
                }
            }
        }
    }
    & .down-nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        width: 1200px;
        
        & .nav-logo{
            margin-bottom: 25px;

            & img{
                width: 150px
            }
        }
        & .nav-list{
    
    
            & .nav-list-items{
                display: flex;
                list-style-type: none;
    
                & li{
                    margin: 0 18px 0 18px;
                    font-size: 14px;
                    font-weight: bold;
                    padding: 15px 0 10px 0;

                    &:hover{
                        cursor: pointer;
                        border-bottom: 3px solid #fc7525;
                        color: #fc7525
                    }
                    &:last-child:hover{
                        border-bottom: none;
                    }
                }
            }
        }
    }
}
.jumbotron{
    height: 700px;
    background: url('../img/single-post-img3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;

    & .central-content{
        background: #fff;
        border-radius: 7px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 700px;
        height: 230px;
        margin-top: 190px;
        position: relative;
        padding: 0 80px 0 80px;


        & span{
            color: #67615A;
            font-weight: bold;
        }
    }
    & h1{
        font-size: 40px;
        text-align: center;
        margin-bottom: 20px;;
    }
    & .todays-pick{
        position: absolute;
        top: -25px;
        height: 42px;
        width: 160px;
        background: #fc7525;
        border-radius: 7px;
        box-shadow: 1px 1px 3px #afafaf;
        
        & span{
            color: #fff;
            line-height: 42px;
            text-transform: uppercase;
            padding: 0 24px 0 24px;
            font-weight: bold;
        }
    }
}
.main-content{
    margin: 0 auto;
    width: 1200px;

    & .foodie-journal{
        background: #fff;
        box-shadow: 1px 1px 3px #afafaf;
        padding: 0 20px 50px 20px;

        & h2{
            text-transform: uppercase;
            text-align: center;
            font-size: 22px;
            padding: 40px 0 25px 0;
            margin-top: -80px;
            position: relative;

            &:after{
                content:"";
                position: absolute;
                bottom: 27px;
                right: 0;
                height: 0.5em;
                width: 420px;
                border-top: 1px dotted #ccc;
            }
            &:before{
                content:"";
                position: absolute;
                bottom: 27px;
                left: 0;
                height: 0.5em;
                width: 420px;
                border-top: 1px dotted #ccc;
            }
        }
    }
    & .photo-container{
        display: flex;
        justify-content: space-between;

        & .photo-caption{
            text-align: center;
            width: 370px;
            position: relative;

            & img{
                width: 340px;

                // &:hover .foodie-journal-img-hover{
                //     display: block
                // }
            }
            & h3{
                margin: 15px 0 15px 0;
                font-size: 20px;

                &:hover{
                    cursor: pointer;
                    color: #fc7525
                }
            }
            & span{
                font-size: 14px;
                color: #67615A;

                & a{
                    color: #3D3D41;

                    &:hover{
                        color: #fc7525
                    }
                }
            }
            & .foodie-journal-img-hover{
                width: 340px;
                height: 224px;
                background: rgb(252, 117, 37, 0.8);
                position: absolute;
                top: 0;
                left: 15px
            }
        }
    }
    & .popular-recipes{
        text-align: center;
        width: 600px;
        display: flex;
        flex-direction: column;
        margin: 120px auto 100px auto;

        & h3{
            text-transform: uppercase;
            font-size: 20px;
            margin-bottom: 25px;
        }
    }
    & .popular-recipes-imgs{
        display: flex;

        & .content-left{
            width: 620px;
            background: #fff;

            & img{
                height: 380px
            }
            & h4{
                font-size: 20px;
                margin: 40px 0 7px 0
            }
            & .popular-info{
                padding: 0 35px 0 35px;

                & span{
                    position: relative;

                    &:after{
                        content:"";
                        position: absolute;
                        bottom: -30px;
                        left: 0;
                        height: 0.5em;
                        width: 510px;
                        border-top: 1px dotted #ccc;
                    }
                    & a{
                        color: #333338;
                        font-size: 14px;
    
                        &:hover{
                            color: #fc7525
                        }
                    }
                }
                & p{
                    margin-top: 45px
                }
                & .learn-more-button{
                    background: #fc7525;
                    color: white;
                    border-radius: 2px;
                    text-align: center;
                    text-transform: uppercase;
                    height: 43px;
                    width: 143px;
                    line-height: 43px;
                    font-size: 13px;
                    font-weight: bold;
                    margin-top: 25px;

                    &:hover{
                        background: #EE5827;
                        cursor: pointer
                    }
                }
            }
        }
        & .content-right{
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;

            & .imgs{
                margin: 0 0 30px 30px;
                
                & img{
                    width: 270px
                }
            }
        }
    }
}