@mixin main-orange-button{
    background: orange;
    color: white;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
}
$orange-color: #fc7525;
$orange-color-hover: #EE5827