@mixin main-orange-button{
    background: orange;
    color: white;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
}
@mixin flex-column {
    display: flex;
    flex-direction: column;
}
@mixin footer-background-position-imgs {
    background-size: cover;
    background-repeat: no-repeat;
}